*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    padding: 20px;
    scroll-behavior: smooth;
}


/* debugging 
div,nav,section,footer,header{
    border: 2px solid black;
} */

a{
    text-decoration: none;
    color: black;
}