#other-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

#other-product .Other-Pro{
    width: 100%;
    overflow: hidden;
    height: auto;
    background-color: #242222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    line-height: 1;

    & h3{
        color: rgb(84, 84, 84);
        font-size: 2.7em;
        margin-bottom: -10px;
        text-transform: uppercase;
        z-index: 1;
    }

    & h4{
        color: rgb(255, 255, 255);
        font-size: 1.9em;
        text-transform: capitalize;
    }

    & h5{
        color: rgb(199, 199, 199);
        font-size: 1.2em;
        text-transform: capitalize;
    }

    & button{
        position: relative;
        margin-top: 15px;
        padding: 8px 15px;
        font-size: 1.2em;
        background-color: rgb(255, 0, 0);
        border-radius: 50px;
        color: white;
        border: none;
        cursor: pointer;
    }

    & img{
        position: relative;
        width: 60%;
        height: auto;
        margin-top: 20px;
    }
}

#other-product .Other-Pro2{
    width: 100%;
    height: auto;
    background-color: #ffd500;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.4;

    & h3{
        color: rgb(141, 118, 17);
        font-size: 2.7em;
        margin-bottom: -30px;
        text-transform: uppercase;
    }

    & h4{
        color: rgb(255, 255, 255);
        font-size: 1.9em;
        text-transform: capitalize;
    }

    & h5{
        color: rgb(199, 199, 199);
        font-size: 1.2em;
        text-transform: capitalize;
    }

    & img{
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 15px;
    }

    & button{
        position: relative;
        margin-top: 15px;
        padding: 8px 15px;
        font-size: 1.2em;
        background-color: rgb(141, 118, 17);
        border-radius: 50px;
        color: white;
        border: none;
        cursor: pointer;
    }
}

#other-product .Other-pro3{
    width: 100%;
    height: auto;
    background-color: #ff0000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.45;
    grid-column: 1 / -1;

    & h3{
        color: rgb(199, 86, 86);
        font-size: 2.7em;
        margin-bottom: -28px;
        text-transform: uppercase;
    }

    & h4{
        color: rgb(255, 255, 255);
        font-size: 1.9em;
        text-transform: capitalize;
    }

    & h5{
        color: rgb(199, 199, 199);
        font-size: 1.2em;
        text-transform: capitalize;
    }

    & img{
        position: relative;
        width: 50%;
        height: auto;
        margin-top: 15px;
        filter: drop-shadow(-10px 20px 10px rgba(0,0,0,0.4));
    }

    & button{
        position: relative;
        margin-top: 15px;
        padding: 8px 15px;
        font-size: 1.2em;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        color: #ff0000;
        border: none;
        cursor: pointer;
        width: fit-content;
    }
}

#other-product .Other-pro4{
    width: 100%;
    height: auto;
    background-color: #b8b6b6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.45;

    & h3{
        color: rgb(255, 255, 255);
        font-size: 2.7em;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    & h4{
        color: rgb(0, 0, 0);
        font-size: 1.9em;
        text-transform: capitalize;
    }

    & h5{
        color: rgb(32, 32, 32);
        font-size: 1.2em;
        text-transform: capitalize;
    }

    & img{
        position: relative;
        width: 50%;
        height: auto;
        margin-top: 15px;
        filter: drop-shadow(-10px 20px 10px rgba(0,0,0,0.4));
    }
    
    & button{
        position: relative;
        margin-top: 15px;
        padding: 8px 15px;
        font-size: 1.2em;
        background-color: rgb(255, 0, 0);
        border-radius: 50px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        width: fit-content;
    }
}

#other-product .Other-pro5{
    width: 100%;
    height: auto;
    background-color: #23ff56;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.4;

    & h3{
        color: #a0dcae;
        font-size: 2.7em;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    & h4{
        color: rgb(255, 255, 255);
        font-size: 1.9em;
        text-transform: capitalize;
    }

    & h5{
        color: #808281;
        font-size: 1.2em;
        text-transform: capitalize;
    }

    & img{
        position: relative;
        width: 80%;
        height: auto;
        margin-top: 15px;
    }

    & button{
        position: relative;
        margin-top: 15px;
        padding: 8px 15px;
        font-size: 1.2em;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        color: #23ff56;
        cursor: pointer;
        border: none;
        width: fit-content;
    }
}

#other-product .Other-pro6{
    width: 100%;
    height: auto;
    background-color: #2D7BDC;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.4;

    & h3{
        color: #4e729c;
        font-size: 2.7em;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    & h4{
        color: rgb(255, 255, 255);
        font-size: 1.9em;
        text-transform: capitalize;
    }

    & h5{
        color: rgb(199, 199, 199);
        font-size: 1.2em;
        text-transform: capitalize;
    }

    & img{
        position: relative;
        width: 65%;
        height: auto;
        margin-top: 15px;
    }

    & button{
        position: relative;
        margin-top: 15px;
        padding: 8px 15px;
        font-size: 1.2em;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        color: #2D7BDC;
        cursor: pointer;
        border: none;
        width: fit-content;
    }
}