#Summer-Sale .Sale{
    position: absolute;
    width: 92vw;
    height: 60vh;
    background-color: #ff0000;
    transform: translate(3%, 278%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 10px;
    border-radius: 20px;
    padding: 60px;
    line-height: 1;

    & h1{
        color: rgb(255, 255, 255);
        font-size: 5em;
        font-weight: bolder;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    & h5{
        color: rgb(32, 32, 32);
        font-size: 1.2em;
        text-transform: capitalize;
    }

    & img{
        position: absolute;
        display: block;
        width: 70%;
        height: auto;
        margin-bottom: 5px;
        left: 33%;
        filter: drop-shadow(-10px 20px 10px rgba(0,0,0,0.4));
    }
    
    & button{
        position: absolute;
        margin-top: 130px;
        padding: 3px 10px;
        font-size: 1.2em;
        background-color: rgb(255, 0, 0);
        border-radius: 50px;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }
}